@model IEnumerable<AuthenticationandAuthorization.Models.Message>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MessageDtTm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment_status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToUserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MessageDtTm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment_status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
